<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <h1>
    Olá {{ clientName }}, seu contrato foi criado com sucesso!
    O contrato está disponível anexado a este email.
  </h1>
</body>

</html>
